@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 183 60% 5%;
    --card: 0 0% 100%;
    --card-foreground: 183 60% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 183 60% 5%;
    --primary: 183 100% 33%;
    --primary-foreground: 183 5% 98%;
    --secondary: 153 85% 28%;
    --secondary-foreground: 153 5% 98%;
    --success: 153 100% 40%;
    --success-foreground: 153 5% 98%;
    --muted: 183 20% 92%;
    --muted-foreground: 183 40% 30%;
    --accent: 3 90% 35%;
    --accent-foreground: 3 5% 98%;
    --destructive: 0 99% 38%;
    --destructive-foreground: 0 0% 98%;
    --border: 183 20% 88%;
    --input: 183 20% 88%;
    --ring: 183 100% 33%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 183 30% 6%;
    --foreground: 183 5% 98%;
    --card: 183 30% 8%;
    --card-foreground: 183 5% 98%;
    --popover: 183 30% 8%;
    --popover-foreground: 183 5% 98%;
    --primary: 183 90% 40%;
    --primary-foreground: 183 5% 98%;
    --secondary: 153 75% 35%;
    --secondary-foreground: 153 5% 98%;
    --muted: 183 25% 15%;
    --muted-foreground: 183 20% 70%;
    --accent: 3 80% 45%;
    --accent-foreground: 3 5% 98%;
    --destructive: 0 100% 35.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 183 25% 15%;
    --input: 183 25% 15%;
    --ring: 183 90% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form {
  @apply space-y-4 p-5 border w-full lg:w-1/2 xl:w-1/3 mx-auto rounded-xl shadow-lg;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
